<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinepass.mapper.ShowZonePriceMapper">

    <select id="selectByShowId" resultType="com.cinepass.model.ShowZonePrice">
        SELECT show_id AS showId, zone, price
        FROM show_zone_price
        WHERE show_id = #{showId}
        ORDER BY zone ASC
    </select>

    <select id="selectByShowIds" resultType="com.cinepass.model.ShowZonePrice">
        SELECT show_id AS showId, zone, price
        FROM show_zone_price
        WHERE show_id IN
        <foreach collection="showIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY show_id ASC, zone ASC
    </select>

    <delete id="deleteByShowId">
        DELETE FROM show_zone_price WHERE show_id = #{showId}
    </delete>

    <insert id="insertBatch">
        INSERT INTO show_zone_price (show_id, zone, price)
        VALUES
        <foreach collection="rows" item="row" separator=",">
            (#{row.showId}, #{row.zone}, #{row.price})
        </foreach>
    </insert>
</mapper>
