<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinepass.mapper.HallMapper">
    <sql id="hallColumns">
        h.hall_id AS hallId, h.cinema_id AS cinemaId, h.name, h.seat_map_id AS seatMapId
    </sql>

    <select id="selectById" resultType="com.cinepass.model.Hall">
        SELECT <include refid="hallColumns" />
        FROM hall h WHERE h.hall_id = #{hallId}
    </select>

    <select id="selectByCinemaId" resultType="com.cinepass.model.Hall">
        SELECT <include refid="hallColumns" />
        FROM hall h WHERE h.cinema_id = #{cinemaId}
        ORDER BY h.name ASC, h.hall_id ASC
    </select>

    <select id="selectAdminByCinemaId" resultType="com.cinepass.model.Hall">
        SELECT <include refid="hallColumns" />,
               (SELECT COUNT(1) FROM show_schedule s WHERE s.hall_id = h.hall_id) AS showCount
        FROM hall h
        WHERE h.cinema_id = #{cinemaId}
        ORDER BY h.name ASC, h.hall_id ASC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countByCinemaId" resultType="long">
        SELECT COUNT(1) FROM hall WHERE cinema_id = #{cinemaId}
    </select>

    <insert id="insert" parameterType="com.cinepass.model.Hall">
        INSERT INTO hall (hall_id, cinema_id, name, seat_map_id)
        VALUES (#{hallId}, #{cinemaId}, #{name}, #{seatMapId})
    </insert>

    <update id="updateName">
        UPDATE hall SET name = #{name} WHERE hall_id = #{hallId}
    </update>
</mapper>
