<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinepass.mapper.SeatStatusMapper">

    <update id="releaseByLockId" databaseId="postgresql">
        UPDATE seat_status
        SET status = 'available',
            lock_id = NULL,
            user_id = NULL,
            expire_at = NULL,
            updated_at = NOW()
        WHERE lock_id = #{lockId}
          AND status = 'locked'
    </update>
    <update id="releaseByLockId">
        UPDATE seat_status
        SET status = 'available',
            lock_id = NULL,
            user_id = NULL,
            expire_at = NULL,
            updated_at = CURRENT_TIMESTAMP
        WHERE lock_id = #{lockId}
          AND status = 'locked'
    </update>
</mapper>
