<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinepass.mapper.ShowScheduleMapper">

    <select id="findSnapshot" resultType="com.cinepass.model.ShowSnapshot">
        SELECT s.show_id   AS showId,
               s.movie_id  AS movieId,
               s.cinema_id AS cinemaId,
               s.hall_id   AS hallId,
               s.start_time AS startTime,
               s.price     AS basePrice,
               m.title     AS movieTitle,
               c.name      AS cinemaName,
               h.name      AS hallName
        FROM show_schedule s
        INNER JOIN movie m ON m.movie_id = s.movie_id
        INNER JOIN cinema c ON c.cinema_id = s.cinema_id
        INNER JOIN hall h ON h.hall_id = s.hall_id
        WHERE s.show_id = #{showId}
    </select>

    <select id="listSeatPrices" resultType="com.cinepass.model.SeatPriceRow">
        SELECT seat.seat_id   AS seatId,
               seat.zone      AS zone,
               seat.seat_name AS seatName,
               COALESCE(zp.price, s.price) AS price
        FROM seat
        INNER JOIN show_schedule s ON s.seat_map_id = seat.seat_map_id
        LEFT JOIN show_zone_price zp ON zp.show_id = s.show_id AND zp.zone = seat.zone
        WHERE s.show_id = #{showId}
          AND seat.seat_id IN
          <foreach collection="seatIds" item="id" open="(" separator="," close=")">
              #{id}
          </foreach>
    </select>
</mapper>
